apache-airflow[celery]==2.10.3
psycopg2-binary==2.9.10
pandas==2.2.3
duckdb
celery
redis
setuptools
python-daemon
flower
astronomer-cosmos==1.7.1
apache-airflow-providers-postgres==5.13.1
dbt-postgres==1.8.2